@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --medium-dark: #1e213a;
  --white: #e7e7eb;
  --grey: #a09fb1;
}

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    color: var(--white);
  }
}

@layer utilities {
  .medium-dark-background {
    background-color: var(--medium-dark);
  }

  .grey-text {
    color: var(--grey);
  }

  .grey-background {
    background-color: var(--grey);
  }
}
