@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #100e1d;
  --medium-dark: #1e213a;
  --white: #e7e7eb;
  --grey: #a09fb1;
  --light-grey: #6e707a;
  --yellow: #ffec65;
  --transparent-grey: rgba(255, 255, 255, 0.3);
}

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    color: var(--white);
  }
}

@layer utilities {
  .grey-text {
    color: var(--grey);
  }

  .dark-background {
    background-color: var(--dark);
  }

  .medium-dark-background {
    background-color: var(--medium-dark);
  }

  .white-background {
    background-color: var(--white);
  }

  .grey-background {
    background-color: var(--grey);
  }

  .light-grey-background {
    background-color: var(--light-grey);
  }

  .transparent-grey-background {
    background-color: var(--transparent-grey);
  }

  .yellow-background {
    background-color: var(--yellow);
  }

  .underline {
    text-decoration: none;
  }

  @media (hover: hover) {
    .underline:hover {
      text-decoration: underline;
    }
  }
}
