@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #3c47e9;
    --dark: #100e1d;
    --medium-dark: #1e213a;
    --white: #e7e7eb;
    --grey: #a09fb1;
    --light-grey: #6e707a;
    --medium-grey: #585676;
    --yellow: #ffec65;
    --transparent-grey: rgba(255, 255, 255, 0.3);
  }

  body {
    font-family: "Raleway", sans-serif;
    color: var(--white);
  }
}

@layer utilities {
  .grey-text {
    color: var(--grey);
  }

  .dark-text {
    color: var(--dark);
  }

  .dark-background {
    background-color: var(--dark);
  }

  .medium-dark-background {
    background-color: var(--medium-dark);
  }

  .white-background {
    background-color: var(--white);
  }

  .grey-background {
    background-color: var(--grey);
  }

  .light-grey-background {
    background-color: var(--light-grey);
  }

  .transparent-grey-background {
    background-color: var(--transparent-grey);
  }

  .yellow-background {
    background-color: var(--yellow);
  }

  .medium-grey-background {
    background-color: var(--medium-grey);
  }

  .blue-background {
    background-color: var(--blue);
  }

  .underline {
    text-decoration: none;
  }

  .arrow {
    fill: transparent;
  }

  .search-result:hover .arrow {
    fill: var(--medium-grey);
  }

  .search-result:focus .arrow {
    fill: var(--medium-grey);
  }

  @media (hover: hover) {
    .underline:hover {
      text-decoration: underline;
    }
  }
}
